@media only screen and (min-width: 1024px) {
	
}

@media only screen and (max-width: 1024px) {
	
	
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	
	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	#header-section{height: 180px !important;}
	#top-social-media { width: 100%; overflow: hidden; }
	#top-social-media ul { list-style: none; position: relative; float: left; display: block; left: 50%; }
	#top-social-media ul li { position: relative; float: left; display: block; right: 50%; }
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	#search-bar-cat{margin:0 auto; float:none; text-align: center; height:100px;}
	.container label.screen-reader-text,
	.container input#s,
	.container select#cat,
	.container input#searchsubmit{margin:5px auto; float:none; display:block; text-align:center; }

	#child_category_tree_widget-2{display:none;}
	
}

@media only screen and (max-width: 350px) {

	#drawer{width: 340px !important;}
	#search-bar-cat{margin:0 auto; float:none; text-align: center; height:100px;}
	.container label.screen-reader-text,
	.container input#s,
	.container select#cat,
	.container input#searchsubmit{margin:5px auto; float:none; display:block; text-align:center;}
	
	#child_category_tree_widget-2{display:none;}
	
}