#header-section{
	z-index:1000;
}
#drawer-wrap{
    visibility : hidden;
	position:relative;
	margin: 0 auto;
	width: 400px;
}	
#drawer{
	background-color:transparent;
	position: absolute;
	left:0px;
	width:400px;
	z-index:999;
}
#drawer-content{
	background-color: #7278B1;
	box-shadow: 0 0 20px #7278B1;
}
#drawer-content h2{
	color: #fff;
}
#drawer-content p{
	color: #fff;
	margin: 10px 10px 0 10px;
}
#hook{
	text-align:center;
	background:transparent;
}
#hook a{
	width:150px;
	display:inline-block;
	color: #fff;
	text-decoration: none;
	font-size:18px;
	font-weight:bolder;
	padding: 5px 20px;
	background-color:#7278B1;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 20px #7278B1;
	cursor: pointer;
}
#hook a:active, #hook a:hover, #hook a:visited{
	color:#fff !important;
}
#drawer #mc_embed_signup{
	position:relative;
	margin:10px 0 0 10px;
}
#drawer #mc-embedded-subscribe-form{
	padding: 0 0 0 0;
	margin:0px 0 0 0px;
}
#drawer input#mce-EMAIL{
	max-width:195px !important;
	border:0px;
	padding: 8px 12px 8px 5px;
	border-radius:4px;
	font-style:italic;
	color:#555;
}
#drawer #mc_embed_signup input.button{
	background-color: #fff;
	color: #7278B1;
	border-left: 1px solid #888;
	position:absolute;
	top: 0px;
	right: 20px;
	text-transform: uppercase;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%) repeat scroll 0 0 #fff;
}